body {
  background: linear-gradient(.45turn, rgba(0, 255, 255, 0.644), rgba(255, 255, 0, 0.493), rgb(231, 103, 71));
}

#title {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-family: 'Rock Salt', cursive;
  font-size: 4rem;
  margin-bottom: 0;
  background-color: rgba(179, 250, 250, 0.76);

}

#big-container {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Rock Salt', cursive;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#dice-image {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 10rem;
  margin-left: 55rem ;
}

.circle {
  border: .2rem solid black;
  border-radius: 100%;
  padding: 3rem;

}

.total-points-number-both {
  font-size: 1.5rem;
}

#start-clear-buttons {
display: flex;
justify-content: center;

}

.button {
  padding: 1rem;
  margin: 1rem;
  border-radius: 100%;
  text-decoration: none;
  outline: none;
  background-color: aqua;
  font-weight: bolder ;

}

.points-current-words{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  margin-top: 1rem;
}

.points-current-number {
  margin-top: 0;
}

#clear {
  background-color: rgb(240, 59, 59);
}

#roll-dice {
  position: absolute;
  top: 35rem;
  font-size: 2rem;
}

.iconify {
  font-size: 2rem;
  position: relative;
  position: absolute;
  bottom: 22.4rem;
}

#die1 {
  margin-left: 5.2rem;
}

#die2 {
  margin-left: -5rem;
}